@import 'var.css';

html {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

#app {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--tertiary);
}

main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    padding: 2rem;
    /*background-color: var(--white);*/
}

menu {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: var(--large2);
    margin-top: 0;
}

button,
input {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

button {
    cursor: pointer;
    border: 3px solid var(--secondary);
    background-color: var(--secondary);
    color: white;
    border-radius: 5px;
}

button:hover {
    opacity: 80%;
}

.secondary {
    background: none;
    color: black;
}

.secondary:hover {
    color: white;
    background-color: var(--secondary);
    opacity: 100%;
}

.tertiary {
    color: var(--secondary);
    border: none;
    background: none;
    text-decoration: underline;
}

.tertiary:hover {
    background: none;
}

.btn-cancel {
    color: red;
    border: 3px solid red;
    background: none;
}

.btn-cancel:hover {
    background-color: red;
    color: white;
}

.submit-form {
    margin: auto;
}

.submit-form > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-control {
    font-size: 1rem;
}

#form-menu {
    display: flex;
    gap: 1rem;
}

#form-menu button {
    flex: 1 1 0;
    font-size: 1rem;
}